API stands for Application Programming Interface

API helps two softwares to communicate with each other. API can be thought of a data pipeline.

API helps multiple platforms to communicate with the same database to maintain integrity of data

In [2]:
import requests

url = "https://movies-ratings2.p.rapidapi.com/ratings"

querystring = {"id":"tt0111161"}

headers = {
	"x-rapidapi-key": "d0bdd61768msha6c4b9ae10907afp17f3a9jsnfd41772091ac",
	"x-rapidapi-host": "movies-ratings2.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'tmdbId': 278, 'imdbId': 'tt0111161', 'lastUpdated': 1738173381282, 'ratings': {'imdb': {'score': 9.3, 'reviewsCount': 3000000, 'url': 'https://www.imdb.com/title/tt0111161/'}, 'metacritic': {'metascore': 82, 'userScore': 9.3, 'averageScore': 8.8, 'url': 'https://www.metacritic.com/movie/the-shawshank-redemption'}, 'rotten_tomatoes': {'tomatometer': 89, 'tomatometerReviewsCount': 146, 'audienceScore': 98, 'audienceScoreReviewsCount': 250000, 'averageScore': 9.4, 'url': 'https://www.rottentomatoes.com/m/shawshank_redemption'}, 'letterboxd': {'score': 4.6, 'url': 'https://letterboxd.com/film/the-shawshank-redemption'}, 'allocine': None, 'average': {'score': 9.12}}, 'media': {'backdrop_path': '/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg', 'budget': 25000000, 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}], 'homepage': '', 'id': 278, 'imdb_id': 'tt0111161', 'origin_country': ['US'], 'original_language': 'en', 'original_title': 'The Shawshank Redemption', 'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.', 'popularity': 173.309, 'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg', 'release_date': '1994-09-23', 'revenue': 28341469, 'runtime': 142, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': 'Fear can hold you prisoner. Hope can set you free.', 'title': 'The Shawshank Redemption', 'video': False, 'external_ids': {'imdb_id': 'tt0111161', 'wikidata_id': 'Q172241', 'facebook_id': None, 'instagram_id': None, 'twitter_id': None}, 'director': 'Frank Darabont', 'media_type': 'movie'}}

In [3]:
import pandas as pd 
import requests

In [4]:

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [ ]:
# converts json to a dataframe
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [7]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,29.7884,8.710,28270
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,64.7218,8.686,21429
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.9648,8.570,12947
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,18.9267,8.565,16418
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,22.8832,8.547,9116

In [8]:
df=pd.DataFrame()

In [21]:
# the above one only fetched till page 1. we have 428 pages so bring them all in a loop
for i in range(1,2):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

    # add the dataframe
    df=pd.concat([df,temp_df],ignore_index=True)

In [22]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,29.7884,8.710,28270
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,64.7218,8.686,21429
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.9648,8.570,12947
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,18.9267,8.565,16418
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,22.8832,8.547,9116
...,...,...,...,...,...,...,...
755,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.6849,8.457,3888
756,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,17.0061,8.456,13352
757,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,38.9940,8.455,37097
758,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0102,8.400,5877
759,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,9.7833,8.448,13358

In [23]:
# convert the dataframe to a csv file
df.to_csv('movies.csv')